@import "src/styles/variables";

.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;

  &__title {
    color: $white;
    font-weight: 700;
    font-size: 38px;
    font-style: italic;
  }

  &__form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    & > div > div > label {
      color: $white;
    }

    & > div > div > div > input{
      width: 340px;
      height: 54px;
    }
  }

  &__btns {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;

    & > button {
      width: 340px;
      height: 54px;
    }
  }

  &__select {
    & > div {
      &:nth-child(3) {
        border: 0;
        box-shadow: none;
        padding: 0 10px;
        border-radius: 100px;
        height: 54px;
      }

      & > div > div {
        font-size: 14px;
        font-weight: normal;
        line-height: 140%;
        color: $silver;
      }
    }
  }

  &__error {
    & > div {
      border: 1px solid $red !important;
    }
  }

  &__label {
    color: $white;
  }
}