@import "src/styles/variables";

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60%;

  &__title {
    color: $white;
    font-weight: 700;
    font-size: 38px;
    font-style: italic;
  }

  &__btns {
    margin-top: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;

    & > button {
      width: 340px;
      height: 54px;
    }
  }
}