@import "src/styles/variables";

.profile {
  padding-top: 20px;

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
  }

  &__avatar {
    margin: 40px auto 0 auto;
  }

  &__name {
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
  }
}