@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "variables";

body {
  margin: 0;
  background: $white;
  overflow: auto;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="search"] {
  -webkit-appearance: none;
}

input[type='password'] {
  letter-spacing: 0.125em;
  font-size: 18px;

  &::placeholder {
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0;
  }
}