@import "src/styles/variables";

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.search {
  position: relative;

  &__field {
    width: 100%;
    height: 40px;
    padding: 0 18px 0 18px;
    outline: none;
    background-color: rgba(203, 201, 214, 0.2);
    border: 1px solid $ghost;
    border-radius: 8px;
  }

  &__icon {
    cursor: pointer;
    position: absolute;
    top: calc(50% - 12px);
    right: 18px;
  }
}