@import "src/styles/variables";

.likeMe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  overflow-y: scroll;
  padding-bottom: 72px;
  margin-top: 20px;

  &__content {
    position: relative;
    height: 300px;
    box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.356);
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding: 10px;
  }

  &__name {
    color: $white;
  }

  &__icons {
    position: absolute;
    top: 10px;
    right: 5px;
    display: flex;
    gap: 5px;
  }

  &__icon {
    & > svg {
      width: 30px;
      height: 30px;
    }

    &:first-child {
      border: 1px solid $red;
      padding: 5px;
      border-radius: 100%;
    }

    &:last-child {
      border: 1px solid $green;
      padding: 5px;
      border-radius: 100%;
    }
  }
}